* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    margin: 0;
}

:root {
    --onepix: calc(1vh + 1vw);
}

html {
    font-size: 10px;
}

body {
    background-color: #04053D;
    color: white;
}

header {
    display: flex;
    /* justify-content: space-around; */
    padding: 0 5rem 0 5rem;
    align-items: center;

}

.container {
    margin: 0 auto;
    max-width: 110rem;
}

.user {
    border: 0.3rem solid white;
    max-width: 15rem;
    padding: 0.5rem;
    height: 4rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;
}

.user_img {
    width: 4.5rem;
    height: 4.5rem;
}

.user_name {

    font-size: 2rem;
}

.continue {
    font-size: 4rem;
    flex-grow: 3;
}

.line {
    border-bottom: 0.1rem solid white;
    max-width: 120rem;
    margin: auto;
    position: relative;
    margin-bottom: 3rem;

}

.line::after {
    position: absolute;
    content: '';
    display: inline;
    top: -0.25rem;
    right: 0;
    width: 0;
    height: 0;
    border: 0.3rem solid white;
    border-radius: 50%;
}

.line::before {
    position: absolute;
    content: '';
    display: inline;
    top: -0.25rem;
    /* right: 10px; */
    left: 0;
    width: 0px;
    height: 0px;
    border: 0.3rem solid white;
    border-radius: 50%;
}



.workouts {
    /* background-color: red; */

    margin-bottom: 2rem;


}

.games_text {
    font-size: 2.5rem;
    margin-bottom: 10px
}

.games {
    display: flex;
    justify-content: space-around;
    border: 2px solid white;
    border-radius: 0.1rem;
    padding: 1rem 1rem 0 1rem;
    flex-wrap: wrap;
}

.game {
    margin-bottom: 1rem;
    border: 2px;
    background-color: #FDFF73;
    border-radius: 50px;
    width: 20rem;
    height: 20rem;
}

/* .game_link{
    
} */

/* .buttons{
    display: flex;
    justify-content: space-around;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
} */

.workout_button {
    width: 100px;
    height: 50px;
}

.small_windows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.leaderboard {
    border: 2px solid white;
    border-radius: 10px;
    width: 40%;
    padding: 1rem 3rem 1rem 3rem;
}

.leaderboard_line {
    border-bottom: 0.1rem solid white;
    max-width: 45rem;
    margin: auto;
    /* position: relative; */
}

.leaderboard_list {
    margin-left: 1.2rem;
}

.directory {
    border: 2px solid white;
    border-radius: 10px;
    width: 40%;
    padding: 1rem 3rem 1rem 3rem;
}

.directory_line {
    border-bottom: 0.1rem solid white;
    max-width: 45rem;
    margin: auto;
}


.navigation_line {
    border: 1px solid white;
}


.navigation {
    /* padding-top: 2rem; */
    /* margin-bottom: 5rem; */
    display: flex;
    overflow-x: hidden;
    /* cursor: grab; */
    scroll-behavior: auto;
    user-select: none;
    margin-bottom: 10px;
}

.page {
    line-height: 1rem;
    min-width: calc(var(--onepix) * 2);
    height: calc(var(--onepix) * 2);
    color: black;
    margin: calc(var(--onepix) * 0.23);
    border: 2px solid white;
    border-radius: 7px;
    text-align: center;
    display: flex;
    font-size: 1.5rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
}

.active_page{
    background-color:white !important;
    color: #04053D;
    
}

.active_page[data-complited]{
    border-color: white !important;
    background-color: green !important;
    color: #FFF !important;
}

.page[data-complited]{
    background-color: green;
    border-color: green;
}

.slider_main {
    display: flex;
}

.slider_page {
    background-color:#04053D;
    color: white;
    /* width: 100vw; */
    height: calc(100vh - var(--onepix) * 4.5);
    display: none;
}




.active {
    display: block;
}


.keyboard_container {
    max-width: 850px;
    margin: 0 auto;
}

/* .keyboard {
    display: flex;
    flex-direction: column;
} */

.keyboard_row {
    display: flex;
    font-family: 'Verdana', Times, serif;
    margin-bottom: 7px;
    font-size: 1.4rem;
}


/* .key_enter{
    grid-column: 13/15;
} */




.keyboard_row>div:not(.key_empty) {
    border: 1px solid white;

}

.keyboard_row>div>div {
    display: flex;

    justify-content: space-between;

}

.keyboard_row>div>div:nth-child(1) {
    padding-bottom: 2px;
}


.key_space {
    width: calc(100% / 18 * 6) !important;
}

.one_word_button_leveling_left {
    flex-grow: 0.5 !important;
}


.keyboard_row>div {
    width: calc(100% / 18);
    overflow: hidden;
    height: 45px;
    margin-right: calc(100% / 120);
    padding: 7px;
    flex-grow: 1;
    border-radius: 10%;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.keyboard_row>div:last-child {
    margin-right: 0;
}

.keyboard_row:first-child>div {
    height: 35px;
    margin-bottom: 10px;
}

.key_enter,
.key_caps {
    width: calc(100% / 18 * 2.13) !important;

}

.key_shift {
    width: calc(100% / 18 * 2.75) !important;
}

.half_button {
    width: calc(100% / 18 / 2) !important;
    margin-right: 0 !important;
}

.key_backspace {
    width: calc(100% / 18 * 2) !important;
    font-size: 1.2rem;
}

.key_tab,
.key_slash {
    width: calc(100% / 18 * 1.5) !important;
}

.key_bottom {
    width: calc(100%/18 * 1.5) !important;
}

.keyboard_row:nth-child(1)>div:nth-child(n+17) {
    padding: 5px;
    font-size: 0.9rem;
}

.keyboard_row:nth-child(2)>div:nth-child(n+15) {
    padding: 5px;
    font-size: 0.9rem;
}

.keyboard_row:nth-child(3)>div:nth-child(n+15) {
    padding: 5px;
    font-size: 0.9rem;
}

.keyboard_row:nth-child(1)>div:nth-child(17) {
    margin-left: 1rem;
}

.keyboard_row:nth-child(2)>div:nth-child(15) {
    margin-left: 1rem;
}

.keyboard_row:nth-child(3)>div:nth-child(15) {
    margin-left: 1rem;
}

.keyboard_row:nth-child(4)>div:nth-child(15) {
    margin-left: 1rem;
}

.keyboard_row:nth-child(5)>div:nth-child(13) {
    margin-left: 1rem;
}

.keyboard_row:nth-child(6)>div:nth-child(9) {
    margin-left: 1rem
}

.key_arrows {
    align-items: center;
}

.nav_container{
    max-width: calc(var(--onepix) * 54);
    margin: 0 auto;
    padding-top: 8px;
}

.practis_slide{
    border: 2px solid white ;
    /* border-radius: 1rem; */
    width: 100%;
    height: 100%;
    
}

/* .information_slide_line{
    border: 1px solid white;
}

.information_slide_title{
    font-size: 1.4rem;
    text-align: center;
} */

.practcis_slide_outer_border{
    border: 2px solid white;
    border-radius: 1rem;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.navigation_practis_slide{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    min-height: 5.7%;
    align-items: center;
    line-height: 1rem;
    cursor: default;
}

.window_navigation{
    display: flex;
    flex-direction: row;
    background-color: black;
    min-height: 5.7%;
    align-items: center;
    line-height: 1rem;
    cursor: default;
    justify-content: flex-end;
    
}

.window_navigation>i{
    margin-left: 10px;
}

.window_navigation>p{
    flex-grow: 5;
    user-select: none;
}



.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
}

.controls>div{
    font-size: 1.5rem;
    transition: 0.2s linear;
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.cross:hover {
    background-color: red;

}



.move:hover {
    background-color: rgba(46, 46, 46, 0.744);
}


.minimize:hover {
    background-color: rgba(46, 46, 46, 0.744);
}

.tabs{
    display: flex;
    flex-direction: row;
    flex-grow: 100;
    cursor: default;
    width: 25px;
    user-select: none;
}

.tab{
    display: flex !important;
    flex-direction: row !important;
    font-size: 1rem;
    transition: 0.2s linear;
    height: 25px;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    padding: 5px;
    width: 100px;
}

.tab>p{
    margin-left: 5px;
    flex-grow: 1;
}


.tab>.fi-rr-cross-small{
    transition: 0.2s linear;
    border: 0 solid black;
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

.tab>.fi-rr-cross-small:hover{
    background-color: rgba(130, 130, 130, 0.744);
}



.button_pressed{
    background-color: red;
}

.main_practis_slide{
    height: 92.7%;
    position: relative;
}
.task_bar{
    height: 7.3%;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
}




.task_bar_slide{
    transition: 0.2s linear;
    margin-right: 2px;
    width: 33.5px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}



.task_bar_slide:hover{
    background-color: rgba(46, 46, 46, 0.744);
}

.task_bar_slide>i{
    font-size: 20px;
    line-height: 1rem;
}

.browser_selected{background-color: rgba(125, 125, 125, 0.744);}

.selected:not(:first-child):not(:last-child){
    background-color: rgba(125, 125, 125, 0.744);
}

.tab:hover{
    background-color: rgba(46, 46, 46, 0.744);
}

.browser_selected_hover:hover{background-color: rgb(125, 125, 125);}

.selected_hover:not(:first-child):not(:last-child):not(:nth-child(2)):not(:nth-child(4)):hover{
    background-color: rgb(125, 125, 125);
}

.surface{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #04053D;
    z-index: 0;
}


.active_surface{
    display: block !important;
    z-index: 10;
    
}

.slide{
    height: 100%;
    display: none;
}

.active_slide{
    display: block;
}

.desctop{
    height: 100%;
}

.desctop_surface{
    z-index: 1;
}

.ico{
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 5px;
    user-select: none;
    margin-bottom: 5px;
}

.ico>i{
    font-size: 24px;
}

.ico:hover{
    background-color: #007bff3b;
}

.desctop_ico{
    transition: 0.2s linear;
    width: 10px;
    margin-right: 0;
    border-left: 1px solid gray;
}
.desctop_ico:hover{
    background-color: rgba(46, 46, 46, 0.744);
}
.empty_slide{
    flex-grow: 10;
}

.windows{
    transition: 0.2s linear;
    margin-right: 2px;
    width: 33.5px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.windows:hover{
    background-color: rgba(46, 46, 46, 0.744);
}

.windows>i{
    font-size: 20px;
    line-height: 1rem;
}

.window{
    z-index: 0;
    bottom: 0 ;
    position: absolute;
    width: 200px;
    height: 100px;
    background-color:  #0103048e;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}


.control_button{
    padding: 2px;  
    padding-top: 6px; 
    display: flex;
    flex-direction: row;
    line-height: 2.2rem;
    user-select: none;
}

.control_button>i{
    font-size: 20px;
    /* line-height: 2.2rem; */
    margin-right: 10px;
}

.control_button:hover{
    background: #464646;
}

.control_button>p{
    font-size: 12px;
}

.note_book_window{
    display: flex;
    flex-direction: column;
    /* z-index: 1; */
    top: 10%;
    left: 20%;
    position: absolute;
    background-color: #fff;
    width: 70%;
    height: 70%;
    border: 0px ;
    border-radius: 2px;
}


.explorer_window{
    display: flex;
    flex-direction: column;
    /* z-index: 1; */
    top: 20%;
    left: 15%;
    position: absolute;
    background-color: #fff;
    width: 70%;
    height: 70%;
    border: 0px ;
    border-radius: 2px;
}


/* .active_window{
    display: flex;
} */


.slide_is_on:not(:first-child):not(:last-child){
    border-bottom: 3px solid rgb(0, 208, 255);
}

.nb_main{
    height: 100%;
    overflow: scroll;
}

.nb_overflow{
    
    margin: 5%;
    height: 75%;
}

.nb_text{
    text-wrap: nowrap;
    /* height: 1080px; */
    background-color: #fff;
    color: black;
    margin-left: 2px;
    /* overflow: scroll ; */
}

.ex_main{
    display: flex;
    flex-direction: row;
    height: 100%;
    user-select: none;
}

.ex_navigation{
    /* background-color: black; */
    border-right: 1px solid rgba(128, 128, 128, 0.189);
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 100%;

    
}

.ex_nav_folder{
    
    height: 5%;
    margin-top: 10px;
    /* background-color: #464646; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    color: black;
}

.ex_nav_folder>p{
    flex-grow: 1;
    margin-left: 2px;
}

.ex_nav_folder>i{
    line-height: 0.5rem;
    margin-left: 2px;
    color: gray;
}

.selected_folder{
    background-color: rgb(133, 228, 254);
}


.ex_folders{
    width: 80%;
    color: black;
    margin-left: 2px;
    margin-top: 2px;
}

.folder{
    display: flex;
    flex-direction: column;
    height: 20%;
}

.folder_line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.folder_line>div{
    height: 1px;
    width: 90%;
    background-color: gray;
}

.folder{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.ex_ico{
    transition: 0.2s linear;
    width: 23%;
    height: 60%;
    /* background-color: red; */
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 1.2rem;
}

.ex_ico:hover{
    background: rgba(0, 205, 251, 0.66);
}

.ex_ico>i{
    font-size: 2rem;
}


.ex_ico>p{
    flex-grow: 1;
    margin-left: 4px;
}

